/* General */
.bg-Matematica {
	background-color: red !important;
}
.bg-Lengua {
	background-color: #4343fb !important;
}
.bg-Naturales {
	background-color: #30ed30 !important;
}
.bg-Sociales {
	background-color: #7171f2 !important;
}
.bg-Historia {
	background-color: #fbd919 !important;
}
.bg-Ciencias {
	background-color: #ca43fb !important;
}

a {
	text-decoration: none;
}

/* Home */
.es-materiasgrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;
}
.es-materiasgrid__item {
	border-radius: 8px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF !important;
	font-weight: 600px;
	font-size: 32px;
	background-color: #DDD;
}
.es-materiasgrid__item:hover {
	transform: scale(.95);
}